.button {
  text-align: center;
  min-width: 250px;
  height: 70px;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  cursor: pointer;
}

.button:active {
  transform: translateY(2px) scaleY(0.96);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.18);
}

.primaryBtn {
  background: #73D677;
}

.primaryBtn:hover {
  background: #61d165;
}

.secondaryBtn {
  background: #F2CB07;
}

.secondaryBtn:hover {
  background: #f8d420;
}

.text {
  padding: 17px 20px 26px 20px;
  margin: 0px;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #212121;
  user-select: none;
}

.text:active {
  transform: translateY(2px);
}