.searchBar {
  width: 95%;
  display: flex;
  align-items: center;
  height: 55px;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
  overflow: hidden;
}

.searchIconContainer {
  display: flex;
  align-items: center;
  height: 100%;
  background: #F2F2F2;
  padding-inline: 25px 20px;
  user-select: none;
}

.input {
  font-size: 16px;
  line-height: 20px;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
}

.clearButton {
  width: 17px;
  height: 17px;
  padding-inline: 15px 25px;
  user-select: none;
  cursor: pointer;
}